<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">Login</div>
        <div class="card-body">
            <!--      log in form-->
            <form #loginForm="ngForm">
                <div class="form-group">
                    <div class="form-label-group">
                        <input class="form-control" id="inputUsername" name="userName" ngModel placeholder="User name" type="text">
                        <label for="inputUsername">Username</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-label-group">
                        <input class="form-control" id="login-password" name="password" ngModel placeholder="Password"
                               required="required" type="password">
                        <label for="login-password">Password</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="remember-me">
                            Remember Password
                        </label>
                    </div>
                </div>
                <button [routerLink]="'/home'" class="btn btn-primary btn-block" type="submit ">Login</button>
                <div class="text-center">
                    <button [routerLink]="'/register'" class="btn btn-link small">Register an Account
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
