<div class="row">
  <div class="col-sm-12 mb-3">
    <div class="card">
      <div class="card-header">
        <i class="fas fa-table"></i>
        All orders in the system
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <a class="float-right mb-2" href="#"><i class="fas fa-fw fa-plus-circle text-success mr-1"></i>Add Order</a>
          <table cellspacing="0" class="table table-bordered" width="100%">
            <thead>
            <tr>
              <th class="text-center">Id</th>
              <th>Customer name</th>
              <th>Customer address</th>
              <th>Customer e-mail</th>
              <th>Customer phone</th>
              <th>Order details</th>
              <th class="text-center">Order status</th>
              <th class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="text-center">1</td>
              <td>Hussein Hassan</td>
              <td>15 Salamony St, Faisal Giza</td>
              <td>hussein.hassan@vodafone.com</td>
              <td>01207077747</td>
              <td>Mobile note 10 plus 265GB black</td>
              <td class="text-center">
                <span class="badge badge-success">Delivered</span>
              </td>
              <td class="text-center">
                <a href="#"><i class="fas fa-fw fa-edit text-warning mx-2"></i></a>
                <a href="#"><i class="fas fa-fw fa-trash-alt text-danger"></i></a>
              </td>
            </tr>
            <tr>
              <td class="text-center">2</td>
              <td>Hanan Hamdi</td>
              <td>58 ElAgouza square, Giza</td>
              <td>hanan.hamdi@vodafone.com</td>
              <td>01025587454</td>
              <td>Mobile one plus 6 265GB black midnight</td>
              <td class="text-center">
                <span class="badge badge-danger">not delivered</span>
              </td>
              <td class="text-center">
                <a href="#"><i class="fas fa-fw fa-edit text-warning mx-2"></i></a>
                <a href="#"><i class="fas fa-fw fa-trash-alt text-danger"></i></a>
              </td>
            </tr>
            <tr>
              <td class="text-center">3</td>
              <td>Mohab Elhamzawy</td>
              <td>1 Maryouteya St, Faisal Giza</td>
              <td>mohab.elhamzawy@vodafone.com</td>
              <td>0102548547</td>
              <td>Mobile Iphone xs max 265GB space gray</td>
              <td class="text-center">
                <span class="badge badge-warning">out for delivery</span>
              </td>
              <td class="text-center">
                <a href="#"><i class="fas fa-fw fa-edit text-warning mx-2"></i></a>
                <a href="#"><i class="fas fa-fw fa-trash-alt text-danger"></i></a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
