<div class="row">
  <div class="col-sm-12 mb-3">
    <div class="card">
      <div class="card-header">
        <i class="fas fa-table"></i>
        All users in the system
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <a href="#" class="float-right mb-2"><i class="fas fa-fw fa-plus-circle text-success mr-1"></i>Add User</a>
          <table cellspacing="0" class="table table-bordered table-hover" width="100%">
            <thead>
            <tr>
              <th class="text-center">Id</th>
              <th>Name</th>
              <th>Username</th>
              <th>E-mail</th>
              <th>Phone</th>
              <th class="text-center">Role</th>
              <th class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="text-center">1</td>
              <td>Hussein Hassan</td>
              <td>v19hhassan37</td>
              <td>hussein.hassan@vodafone.com</td>
              <td>01207077747</td>
              <td class="text-center">Admin</td>
              <td class="text-center">
                <a href="#"><i class="fas fa-fw fa-edit text-warning mx-2"></i></a>
                <a href="#"><i class="fas fa-fw fa-trash-alt text-danger"></i></a>
              </td>
            </tr>
            <tr>
              <td class="text-center">2</td>
              <td>Mohab Elhamzawy</td>
              <td>mhamzawy1</td>
              <td>mohab.elhamzawy@vodafone.com</td>
              <td>0105487459</td>
              <td class="text-center">Agent</td>
              <td class="text-center">
                <a href="#"><i class="fas fa-fw fa-edit text-warning mx-2"></i></a>
                <a href="#"><i class="fas fa-fw fa-trash-alt text-danger"></i></a>
              </td>
            </tr>
            <tr>
              <td class="text-center">3</td>
              <td>Hanan Hamdi</td>
              <td>hhamdi</td>
              <td>hanan.hamdi@vodafone.com</td>
              <td>0107856254</td>
              <td class="text-center">Agent</td>
              <td class="text-center">
                <a href="#"><i class="fas fa-fw fa-edit text-warning mx-2"></i></a>
                <a href="#"><i class="fas fa-fw fa-trash-alt text-danger"></i></a>
              </td>
            </tr>
            <tr>
              <td class="text-center">4</td>
              <td>Mohamed Badr</td>
              <td>mbadr1</td>
              <td>mohamed.badr@vodafone.com</td>
              <td>010254879</td>
              <td class="text-center">Agent</td>
              <td class="text-center">
                <a href="#"><i class="fas fa-fw fa-edit text-warning mx-2"></i></a>
                <a href="#"><i class="fas fa-fw fa-trash-alt text-danger"></i></a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
